@{
    Layout = "_Layout";
    var leftCol = IsSectionDefined("screenshot") ? "col-md-7" : "noScreenshot";
    var descriptionAlignment = IsSectionDefined("icon") ? "" : "centeredDescription";
}

<div class="jumbotron windowOuter">
    <div class="windowInner appJumbo">
        <div class="@leftCol @descriptionAlignment">
            @if(IsSectionDefined("icon")) 
            {
                <div class="appIcon">
                    @RenderSection("icon", false)
                </div>
            }

            <div class="appDescription">
                <h1>@ViewData["Title"]</h1>

                @RenderSection("description")
            </div>
        </div>

        @if(IsSectionDefined("screenshot")) 
        {
            <div class="col-md-5">
                <div class="appScreenshotContainer">
                    @RenderSection("screenshot", false)
                </div>
            </div>
        }
    </div>
</div>

<div class="windowOuter">
    <div class="windowInner">
        @RenderBody()
    </div>
</div>