@{
    Layout = "_Layout";
}

<div class="jumbotron windowOuter">
    <div class="windowInner appJumbo">
        <div class="appIcon">
            @RenderSection("icon")
        </div>

        <div class="appDescription">
            <h1>@ViewData["Title"]</h1>

            @RenderSection("description")            
        </div>

        <div class="appScreenshotContainer">
            @RenderSection("screenshot")
        </div>
    </div>
</div>

<div class="windowOuter">
    <div class="windowInner">
        @RenderBody()
    </div>
</div>

