@{
    ViewData["Title"] = "About";

    // Dynamically update years from the current year
    int YearsFrom(int year)
    {
        var start = new DateTime(year, 1, 1);
        var end = DateTime.Now;

        return (end.Year - start.Year - 1) +
            (((end.Month > start.Month) ||
            ((end.Month == start.Month) && (end.Day >= start.Day))) ? 1 : 0);
    }
}

<div class="jumbotron windowOuter">
    <div class="windowInner">
        <div class="portraitContainer">
            <img src="~/img/Portrait.jpg" />
        </div>

        <div class="jumboDescription">
            <h1>Ian Martinez</h1>
                
            <p class="contactInfo">
                <strong>Contact:</strong> <a href="mailto:contact@ianmtz.com">contact@ianmtz.com</a>
            </p>

            <p>
                A software developer and designer with projects in C#, Java, JavaScript, Pascal, and more.
            </p>

            <div class="appButtons">
                <a class="btn btn-primary imageButton" href="https://github.com/ianmartinez/" role="button">
                    <ion-icon name="logo-github"></ion-icon>
                    <span>GitHub</span>
                </a>   
                
                <a class="btn btn-primary imageButton" href="https://www.patreon.com/ianmartinez" role="button">
                    <ion-icon name="gift"></ion-icon>
                    <span>Support on Patreon</span>
                </a>                
            </div>
        </div>
    </div>
</div>
<div class="windowOuter">
    <div class="windowInner">
        <div class="container appFeatures aboutSection">
            <h1>Education</h1>
            <div class="row featurette">
                <div class="col-md-3">
                    <div class="imgContainer">
                        <img class="featurette-image" src="~/img/About/University.png" lightbox />
                    </div>
                </div>

                <div class="col-md-9">
                    <h2 class="featurette-heading">Texas A&amp;M University - San Antonio</h2>


                    <div class="featuretteDescription">
                        <p class="lead">
                            Bachelor of Science in Computer Science
                        </p>

                        <p class="dateRange">2017 - 2021 (Currently Enrolled)</p>
                    </div>
                </div>
            </div>

            <h1>Employment</h1>
            <div class="row featurette">
                <div class="col-md-3">
                    <div class="imgContainer">
                        <img class="featurette-image" src="~/img/About/IBC.png" lightbox />
                    </div>
                </div>

                <div class="col-md-9">
                    <h2 class="featurette-heading">IBC Bank</h2>

                    <div class="featuretteDescription">
                        <p class="lead">
                            Developer I
                        </p>

                        <p class="dateRange">June 2017 - April 2020</p>

                        <p class="extendedDescription">
                            Worked to re-write multiple websites using modern web design in order to migrate
                            them away from SharePoint and ASP.NET Web Forms to ASP.NET MVC and ASP.NET Core.
                        </p>

                        <p class="extendedDescription">
                            Maintained, tested, and deployed bug fixes to critical banking software.
                        </p>
                    </div>
                </div>
            </div>

            <hr class="featurette-divider"/>

            <div class="row featurette">
                <div class="col-md-3">
                    <div class="imgContainer">
                        <img class="featurette-image" src="~/img/About/CBE.png" lightbox />
                    </div>
                </div>

                <div class="col-md-9">
                    <h2 class="featurette-heading">CBE Companies</h2>

                    <div class="featuretteDescription">
                        <p class="lead">
                            IT Intern
                        </p>

                        <p class="dateRange">May 2017 - June 2017</p>

                        <p class="extendedDescription">
                            Assisted in setting up new hardware and fixing malfunctioning hardware.
                        </p>
                    </div>
                </div>
            </div>

            <h1>Language Experience</h1>
            <div class="row featurette">
                <div class="col-md-3">
                    <div class="imgContainer">
                        <img class="featurette-image smallImage" src="~/img/About/CSharp.png" lightbox />
                    </div>
                </div>

                <div class="col-md-9">
                    <h2 class="featurette-heading">C#</h2>

                    <div class="featuretteDescription">
                        <p class="dateRange">@YearsFrom(2014) Years</p>

                        <p class="lead">
                            Development with C# on Windows, macOS, and Linux. Desktop applications built
                            with WinForms and <a href="https://github.com/picoe/Eto">Eto.Forms</a> and
                            websites using ASP.NET Web Forms, ASP.NET MVC, and ASP.NET Core.
                        </p>

                        <h3>Projects</h3>
                        <div class="projectList">
                            <ul>
                                <li><a href="~/Resources/AeroLib">AeroLib</a></li>
                                <li><a href="~/CardinalQemu">Cardinal QEMU</a></li>
                                <li><a href="~/LangPad">LangPad (LangPadUI and LangPadData libraries)</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="featurette-divider"/>

            <div class="row featurette">
                <div class="col-md-3">
                    <div class="imgContainer">
                        <img class="featurette-image smallImage" src="~/img/About/JavaScript.png" lightbox />
                    </div>
                </div>

                <div class="col-md-9">
                    <h2 class="featurette-heading">JavaScript</h2>

                    <div class="featuretteDescription">
                        <p class="dateRange">@YearsFrom(2014) Years</p>

                        <p class="lead">
                            JavaScript development for standalone libraries as well as
                            for the front-end of larger websites.
                        </p>

                        <h3>Projects</h3>
                        <div class="projectList">
                            <ul>
                                <li><a href="~/Resources/AeroLib">AeroLib</a></li>
                                <li><a href="~/CardinalQemu">Cardinal QEMU</a></li>
                                <li><a href="~/LangPad">LangPad (LangPadUI and LangPadData libraries)</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="featurette-divider"/>

            <div class="row featurette">
                <div class="col-md-3">
                    <div class="imgContainer">
                        <img class="featurette-image smallImage" src="~/img/About/Java.png" lightbox />
                    </div>
                </div>

                <div class="col-md-9">
                    <h2 class="featurette-heading">Java</h2>

                    <div class="featuretteDescription">
                        <p class="dateRange">@YearsFrom(2015) Years</p>

                        <p class="lead">
                            Desktop Java development with both Swing and JavaFX in NetBeans.
                        </p>

                        <h3>Projects</h3>
                        <div class="projectList">
                            <ul>
                                <li><a href="~/AsciiStudio">ASCII Studio</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="featurette-divider"/>

            <div class="row featurette">
                <div class="col-md-3">
                    <div class="imgContainer">
                        <img class="featurette-image smallImage" src="~/img/About/FreePascal.png" lightbox />
                    </div>
                </div>

                <div class="col-md-9">
                    <h2 class="featurette-heading">Pascal</h2>

                    <div class="featuretteDescription">
                        <p class="dateRange">@YearsFrom(2018) Years</p>

                        <p class="lead">
                            Desktop development in <a href="https://www.freepascal.org/">Free Pascal</a> with the
                            <a href="https://www.lazarus-ide.org/">Lazarus IDE</a>.
                        </p>

                        <h3>Projects</h3>
                        <div class="projectList">
                            <ul>
                                <li><a href="~/Chameleon">Chameleon</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="featurette-divider"/>

            <div class="row featurette">
                <div class="col-md-3">
                    <div class="imgContainer">
                        <img class="featurette-image smallImage" src="~/img/About/VB.png" lightbox />
                    </div>
                </div>

                <div class="col-md-9">
                    <h2 class="featurette-heading">VB.NET</h2>

                    <div class="featuretteDescription">
                        <p class="dateRange">@YearsFrom(2008) Years</p>

                        <p class="lead">
                            My first programming language that I have built multiple projects with over the years.
                        </p>

                        <h3>Projects</h3>
                        <div class="projectList">
                            <ul>
                                <li><a href="~/Old/ChameleonClassic">Chameleon Classic</a></li>
                                <li><a href="~/Old/Screensavers">Colors Screensaver</a></li>
                                <li><a href="~/Old/Screensavers">Graystyle Screensaver</a></li>
                                <li><a href="~/Old/Screensavers">LangPad (WinForms UI portion)</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="featurette-divider"/>

            <div class="row featurette">
                <div class="col-md-3">
                    <div class="imgContainer">
                        <img class="featurette-image smallImage" src="~/img/About/CPlusPlus.png" lightbox />
                    </div>
                </div>

                <div class="col-md-9">
                    <h2 class="featurette-heading">C++</h2>

                    <div class="featuretteDescription">
                        <p class="dateRange">@YearsFrom(2019) Years</p>

                        <p class="lead">
                            Linux development for projects at college and while developing LaikaWM.
                        </p>

                        <h3>Projects</h3>
                        <div class="projectList">
                            <ul>
                                <li><a href="~/LaikaWM">LaikaWM</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <h1>Software Experience</h1>
            <div class="row featurette">
                <div class="col-md-3">
                    <div class="imgContainer">
                        <img class="featurette-image smallImage" src="~/img/About/Inkscape.png" lightbox />
                    </div>
                </div>

                <div class="col-md-9">
                    <h2 class="featurette-heading">Inkscape</h2>

                    <div class="featuretteDescription">
                        <p class="lead">
                            Used for the designing all my app icons, as well as most of my icon packs.
                        </p>

                        <h3>Icons</h3>
                        <div class="projectList">
                            <ul>
                                <li><a href="~/Icons/Taiga">Taiga Icons</a></li>
                                <li><a href="~/Icons/Tlell">Tlell Icons</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="featurette-divider"/>

            <div class="row featurette">
                <div class="col-md-3">
                    <div class="imgContainer">
                        <img class="featurette-image smallImage" src="~/img/About/Photoshop.png" lightbox />
                    </div>
                </div>

                <div class="col-md-9">
                    <h2 class="featurette-heading">Photoshop</h2>

                    <div class="featuretteDescription">
                        <p class="lead">
                            Used for designing some elements used in apps, as well as one icon pack.
                        </p>

                        <h3>Icons</h3>
                        <div class="projectList">
                            <ul>
                                <li><a href="~/Icons/Horizon">Horizon Icons</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>